
$color-primary:          #7C1A00;
$color-primary-soft:     #FFBFA0;
$color-primary-light:    #FFDED6;

$color-secondary:        #FF6833;
$color-tertiary:         #FFD2A9;

$color-secondary-hover:  #FF6833bb; 

$color-surface:          #ffffff;
$color-surface-border:   #edf0f3;
$color-progress-bg:      #eef2f7;
$shadow-soft:            0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-card:            0 6px 20px rgba(15, 23, 42, 0.1);

