
$color-primary:          #1d5659;
$color-primary-soft:     #19a06a;
$color-primary-light:    #bbffbe;

$color-secondary:        #ff7853;
$color-tertiary:         #2d0d33;

$color-secondary-hover:  #ff7853bb; 

$color-surface:          #ffffff;
$color-surface-border:   #edf0f3;
$color-progress-bg:      #eef2f7;
$shadow-soft:            0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-card:            0 6px 20px rgba(15, 23, 42, 0.1);

